<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Planning</title>
    <style>
        body { margin: 0; overflow: hidden; }
        canvas { display: block; }
        .flexbox {
            display: flex;
            flex-direction: column;
        }
        /* Width and height of the scrollbar */
        .scrollbar {
            scrollbar-width: thin; /* For Firefox */
            scrollbar-color: #888 #f5f5f5; /* For Firefox */
            overflow-y: auto; /* Enable vertical scrolling */
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f5f5f5; /* Set track color for Chrome/Safari/Opera */
            border-radius: 1rem;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            border-radius: 1rem; /* Set border radius for round corners */
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555; /* Set handle color on hover for Chrome/Safari/Opera */
        }

        /* Corner */
        ::-webkit-scrollbar-corner {
            display: none;
        }

    </style>
</head>
<body>
    <div id="toggleForm1" style="position: fixed; top: 1rem; left: 1rem; cursor: pointer; z-index: 10; background-color: #e3d9d992; border-radius: 0.3rem; padding: 0.4rem;">
        <div style="width: 30px; height: 3px; background-color: #333; margin-bottom: 6px;"></div>
        <div style="width: 30px; height: 3px; background-color: #333; margin-bottom: 6px;"></div>
        <div style="width: 30px; height: 3px; background-color: #333;"></div>
    </div>
    <div style="display: grid; grid-template-columns: 3fr 1fr; position: absolute; width:90%; left: 5rem">
        <div id="form1" class="scrollbar" style="display: grid; overflow: auto; grid-column: 1; grid-template-columns: max-content 1fr max-content 1fr max-content 1fr; grid-template-rows: repeat(3, auto); gap: 0.5rem; top: 1rem; left: 5rem; background-color: rgba(255, 255, 255, 0.8); padding: 1rem; margin: 1rem; border-radius: 0.5rem; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
            <label for="widthInput" style="grid-column: 1;">Width:</label>
            <input type="number" id="widthInput" value="5.5" style="grid-column: 2;">
            
            <label for="heightInput" style="grid-column: 3;">Height:</label>
            <input type="number" id="heightInput" value="4" style="grid-column: 4;">
            
            <label for="depthInput" style="grid-column: 5;">Depth:</label>
            <input type="number" id="depthInput" value="5" style="grid-column: 6;">
        
            <label for="objectPositionX" style="grid-column: 1;">Position X:</label>
            <input type="number" id="objectPositionX" value="0" style="grid-column: 2;">
        
            <label for="objectPositionY" style="grid-column: 3;">Position Y:</label>
            <input type="number" id="objectPositionY" value="0" style="grid-column: 4;">
        
            <label for="objectPositionZ" style="grid-column: 5;">Position Z:</label>
            <input type="number" id="objectPositionZ" value="0" style="grid-column: 6;">
        
            <label for="objectRotationZ" style="grid-column: 1;">Rotation:</label>
            <input type="number" id="objectRotationZ" value="0" style="grid-column: 2;">

            <label for="ceilingColor" style="grid-column: 1;">Ceiling Color:</label>
            <jsuites-color id="ceilingColor" value="#9f9f9f" style="grid-column: 2;"></jsuites-color>
        
            <label for="floorColor" style="grid-column: 3;">Floor Color:</label>
            <jsuites-color id="floorColor" value="#9f9f9f" style="grid-column: 4;"></jsuites-color>
            
            <label for="wall1Color" style="grid-column: 5;">Wall1 Color:</label>
            <jsuites-color id="wall1Color" value="#9f9f9f" style="grid-column: 6;"></jsuites-color>
            
            <label for="wall2Color" style="grid-column: 1;">Wall2 Color:</label>
            <jsuites-color id="wall2Color" value="#9f9f9f" style="grid-column: 2;"></jsuites-color>
            
            <label for="wall3Color" style="grid-column: 3;">Wall3 Color:</label>
            <jsuites-color id="wall3Color" value="#9f9f9f" style="grid-column: 4;"></jsuites-color>
            
            <label for="wall4Color" style="grid-column: 5;">Wall4 Color:</label>
            <jsuites-color id="wall4Color" value="#9f9f9f" style="grid-column: 6;"></jsuites-color>

            <button type="button" id="selectMode" style=" grid-column: 1 / -1; border-radius: 1rem; box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2); padding: 2px;">SELECT SEGMENT</button>

            <button type="button" id="removeButton" style="grid-column: 1 / -1; border-radius: 1rem; box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2); padding: 2px;">REMOVE</button>
        </div>

        <div id="furnituresContainer" style="display: block; grid-column: 4; position: relative; top: 1rem; right: 1rem; background-color: rgba(255, 255, 255, 0.8); padding: 0.5rem; border-radius: 0.5rem; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
            <canvas id="furnituresCanvas"></canvas>
        </div>
    </div>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const form = document.getElementById('form1');
            const toggleForm = document.getElementById('toggleForm1');
            const canvas = document.getElementById('furnituresCanvas');
            const selectModeButton = document.getElementById('selectMode');
            const removeButton = document.getElementById('removeButton');

            // Toggle form visibility
            toggleForm.addEventListener('click', () => {
                form.style.display = form.style.display === 'none' ? 'block' : 'none';
            });

            // Initialize three.js scene
            const scene = new THREE.Scene();
            const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
            const renderer = new THREE.WebGLRenderer({ canvas });
            renderer.setSize(window.innerWidth, window.innerHeight);

            // Add lights to the scene
            const ambientLight = new THREE.AmbientLight(0xffffff, 0.5);
            scene.add(ambientLight);

            const directionalLight = new THREE.DirectionalLight(0xffffff, 0.5);
            directionalLight.position.set(0, 1, 0);
            scene.add(directionalLight);

            // Define materials for walls, ceiling, and floor
            const wallMaterial = new THREE.MeshBasicMaterial({ color: 0x9f9f9f, side: THREE.DoubleSide });
            const ceilingMaterial = new THREE.MeshBasicMaterial({ color: 0x9f9f9f, side: THREE.DoubleSide });
            const floorMaterial = new THREE.MeshBasicMaterial({ color: 0x9f9f9f, side: THREE.DoubleSide });

            // Draw room
            const roomWidth = 5.5;
            const roomHeight = 4;
            const roomDepth = 5;
            const roomGeometry = new THREE.BoxGeometry(roomWidth, roomHeight, roomDepth);

            const roomCeiling = new THREE.Mesh(roomGeometry, ceilingMaterial);
            roomCeiling.position.set(0, roomHeight / 2, 0);
            scene.add(roomCeiling);

            const roomFloor = new THREE.Mesh(roomGeometry, floorMaterial);
            roomFloor.position.set(0, -roomHeight / 2, 0);
            scene.add(roomFloor);

            const roomWall1 = new THREE.Mesh(new THREE.PlaneGeometry(roomWidth, roomHeight), wallMaterial);
            roomWall1.position.set(0, 0, -roomDepth / 2);
            roomWall1.rotation.x = Math.PI / 2;
            scene.add(roomWall1);

            const roomWall2 = new THREE.Mesh(new THREE.PlaneGeometry(roomWidth, roomHeight), wallMaterial);
            roomWall2.position.set(0, 0, roomDepth / 2);
            roomWall2.rotation.x = -Math.PI / 2;
            scene.add(roomWall2);

            const roomWall3 = new THREE.Mesh(new THREE.PlaneGeometry(roomDepth, roomHeight), wallMaterial);
            roomWall3.position.set(-roomWidth / 2, 0, 0);
            roomWall3.rotation.y = -Math.PI / 2;
            scene.add(roomWall3);

            const roomWall4 = new THREE.Mesh(new THREE.PlaneGeometry(roomDepth, roomHeight), wallMaterial);
            roomWall4.position.set(roomWidth / 2, 0, 0);
            roomWall4.rotation.y = Math.PI / 2;
            scene.add(roomWall4);

            camera.position.z = 5;

            // Render function
            function render() {
                requestAnimationFrame(render);
                renderer.render(scene, camera);
            }
            render();
        });
    </script>
</body>
</html>

